@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.hi{
    font-family: Comic Neue;
}
*{
inset:  0;
margin: 0;
padding: 0;

--theme-primary:#0C6291 ;
--theme-secondary: maroon;
--theme-accent: #FBFEF9;
--theme-surface:#000004 ;



--theme-primary-content:#000004  ;
--theme-secondary-content: #000004  ;
--theme-accent-content:#000004 ;
--theme-surface-content:  #FBFEF9;
/* background: var(--theme-surface); */
color: var(--theme-secondary-content);
}

body{
    background: var(--theme-surface);
}

.flex-row{
display: flex;
flex-direction: row;


}
.flex-col {
display: flex;
flex-direction: column;
}

.justify-center{
    justify-content: center;

}
.align-center{
    align-items: center;
}

.pfp{
width: 200px;
height: 200px;
border-radius: 100%;
border:solid;
border-width: 2em;
border-color: maroon;
}




.bg-primary {
    background:  var(--theme-primary);
}

.bg-secondary {
    background:  var(--theme-secondary);
}

.bg-accent {
    background:  var(--theme-accent);
}

.bg-surface {
    background:  var(--theme-surface);
}

.text-primary {
color: var(--theme-primary-content);

}

.text-secondary {
    color: var(--theme-secondary-content);
    
    }

.text-accent {
    color: var(--theme-accent-content);
    
}
        
.text-surface {
    color: var(--theme-surface-content);
            
}
.text-primary {
    color: var(--theme-primary);
    
}
                
.text-secondary {
    color: var(--theme-secondary);
    
}
                
.text-accent {
    color: var(--theme-accent);
    
}
                        
.text-surface {
    color: var(--theme-surface);
    
}
.w-dvw{
    width :100dvW;
}

.h-dvh{
    height :100dvH;
}